.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.pokemon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.pokemon-card {
  border-radius: 10px;
  box-shadow: 0 5px 5px 5px rgba(50,50,50,0.1);
  margin: 10px;
  padding: 30px;
  position: relative;
  overflow: hidden;
  min-width: 170px;
}

.pokemon-name {
  font-size: 20px;
  font-weight: 700;
}

.attribute {
  margin-top: 10px;
  margin-bottom: 10px;
}
.attribute-label {
  font-weight: 600;
  margin-right: 10px;
}

.random-pokemon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-pokemon-button {
  margin-top: 10px;
  font-size: 20px;
  background-color: red;
  font-weight: 600;
  border-radius: 6px;
}

.loading {
  height: 220px;
}

.available-pokemon-container {
  display: flex;
  overflow: hidden;
  max-width: 80vw;
  overflow-x: scroll;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
}

.halographic:before,
.halographic:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    rgb(0, 231, 255) 30%,
    rgb(255, 0, 231) 70%,
    transparent 100%
  );
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 300% 300%;
  mix-blend-mode: color-dodge;
  opacity: 0;
  z-index: 1;
  transform: translate3d(0, 0, 0);
  animation: holoGradient 15s ease infinite;
}
.halographic:after {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/13471/sparkles.gif");
  background-position: center;
  background-size: 180%;
  mix-blend-mode: color-dodge;
  opacity: 0;
  z-index: 2;
  animation: holoSparkle 20s ease infinite;
}

@keyframes holoSparkle {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.2;
  }
}

@keyframes holoGradient {
  3% {
    opacity: 0;
  }
  5% {
    background-position: 0% 0%;
  }
  7% {
    opacity: 0.5;
  }
  9% {
    background-position: 100% 100%;
  }
  11% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    background-position: 100% 100%;
  }
  55% {
    opacity: 0.3;
  }
  70% {
    opacity: 0;
    background-position: 0% 0%;
  }
}
